span.form-directions
{
  color: red;
}

button.form-directions {
    color: blue;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.explanation{
    color:blue;
}