
form {
    padding: 30px;
    
}

label {
    text-align: right;
}

input, textarea,select{
    /*[type=text]*/
    text-align: right;
}

    input[type=text]:focus {
        /*background-color: lightblue;*/
        /*border: 3px solid #555;*/
    }




