
form {
    padding: 30px;
    
}

label {
    text-align: right;
}

input, textarea,select{
    /*[type=text]*/
    text-align: right;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


.explanation {
    color: blue;
}

.not_valid {
    border: 2px solid red;
    background-color: rgba(201,76,76,0.5);
}

.not_valid_feedback{
    color:red;
}


