body {
    height: 100%;
    text-align: center;
    background-image: url("/Client/Images/pic_bg_11.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.bg_brigth {
    background-color: rgba(270, 270, 270,0.90);
    border-radius: 30px;
    padding: 30px;
    position: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer {
    background-color: rgba(270, 270, 270,1);  
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
}